<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:
      </h2>
      <ul>
        <% job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <h4><%= form.label :title %></h4>
    <%= form.text_field :title %>
  </div>

  <div class="field">
   <h4><%= form.label :description %></h4>
    <%= form.text_area :description, required: true, input_html: { class: "textarea" } %>
  </div>

  <div class="field">
    <h4><%= form.label :salary %></h4>
    <%= form.number_field :salary %>
  </div>

  <div class="field">
    <h4><%= form.label :experience %></h4>
    <%= form.number_field :experience %>
   <%= form.select :experience_type, options_for_select([["Select One", ""], "Year", "Month"]), :class => 'genForm_dropBox' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
  exp_interval = $('#job_experience').val()
  exp_interval_type = $('#job_experience_type').val()
    exp_interval_type.onchange = function() {
     $ (exp_interval.value) = $ (exp_interval_type.value);
}

</script>
