<h1>Jobs</h1>
<%if can? :update, Job %>
<b><h3><%= link_to 'Create New Job', new_job_path%></b></h3>
<%end%>
<hr>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".table tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<b>Type something to search job:</b>
<input id="myInput" type="text" placeholder="Search..">
<div class="container">            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Salary</th>
        <th>Experience</th>
        <%if can? :update, Job %>
          <th>Applied_users_count</th>
        <%end%>
        <th colspan="4"><center>Action</center></th>
      </tr>
    </thead>
   <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.salary %></td>
        <td><%= job.experience %></td>
        <%if can? :update, Job %>
          <td><%= job.jobapplications.count %></td>
          <td><%= link_to 'Show', job, class: "btn btn-default btn-sm"%></td>
          <td><%= link_to 'Edit', edit_job_path(job), class: "btn btn-default btn-sm" %></td>
          <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-default btn-sm"%></td>
          <td><%= link_to 'Applied Users', applied_user_path(job), class: "btn btn-default btn-sm"%></td>
        <%else%>
          <td>
            <div class="job-action-button-<%= job.id %>">
              <% if current_user.jobapplications.find_by(job: job).nil? %>
                <%= render 'job_apply_button', job: job %>
              <%else%>
                <%= render 'job_cancel_button', job: job %>
              <% end %>
            </div>
          </td>
        <%end%>
       </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @jobs %>
<br>
