<h4><strong>Title:</strong>
  <%= @job.title %>
</p></h4>

<p>
  <h4><strong>Description:</strong>
  <%= @job.description %>
</p></h4>

<p>
  <h4><strong>Salary:</strong>
  <%= @job.salary %>
</p></h4>

<p>
  <h4><strong>Experience:</strong>
  <%= @job.experience %>
</p></h4>
<h4><%= link_to 'Back', jobs_path %></h4>
