<div class="center jumbotron">
  <h1>Welcome to the Job Portal App</h1>
  <h2>
    This is the page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    for job application.
  </h2>
</div>
<div>
<%= link_to image_tag("portal.jpeg", alt: "logo"),                       
            'http://rubyonrails.org/' %>
</div>