<!DOCTYPE html>
<html>
  <head>
    <title>JobBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% elsif alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <h4><%= link_to "Job Board", root_path, id: "logo", style:'color: #fff;' %></h4>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <% if current_user.roles == "employer" %> 
                <li><%= link_to 'Show your all Jobs', jobs_path, style:'color: #fff;' %></li>
              <% else %>
                <li><%= link_to 'Show all Jobs', jobs_path, style:'color: #fff;' %></li>
              <%end%>
              <%if can? :read, Jobapplication %>
                <li><%= link_to "My Applied Jobs", my_applied_jobs_path%></li>
              <% end %>
              <li><%= link_to "Sign Out", destroy_user_session_path, style:'color: #fff;', method: :delete %></li>
            <% else %>
              <li> <%= link_to "Sign in", new_user_session_path, style:'color: #fff;' %></li>
            <% end %>
            <li><%= link_to "Help",   help_path_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>